<div class="card" *ngIf="property">
  <div class="card-img-wrapper">
  <img class="card-img-top" src="https://cdn.pixabay.com/photo/2020/01/03/05/36/house-4737447_960_720.png" alt="House Image">
  <ul class="list-inline text-center member-icons animate">
    <li class="list-inline-item">
      <button class="btn btn-primary"><i class="fa-regular fa-pen-to-square"></i></button>
    </li>
    <li class="list-inline-item">
      <button class="btn btn-primary"><i class="fa-regular fa-address-book"></i></button>
    </li>
  </ul>
</div>
<div class="card-body p-2">
    <h1>{{ property.Name }}</h1> <!-- Changed to 'name' -->
    <h2>{{ property.Type }}</h2>
    <h3>${{ property.Price }}</h3> <!-- Changed to 'price' -->
  </div>
</div>
